html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

html {
  font-size: 10px;
}

body {
  font-size: 16px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

ul {
  padding: 20px 0;
}

li {
  height: 150px;
  overflow: hidden;
}

.content {
  height: 100%;
  background-color: #f4f4f4;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: background-color 200ms, -webkit-transform 0ms ease-in-out 200ms;
  transition: background-color 200ms, -webkit-transform 0ms ease-in-out 200ms;
  transition: transform 0ms ease-in-out 200ms, background-color 200ms;
  transition: transform 0ms ease-in-out 200ms, background-color 200ms, -webkit-transform 0ms ease-in-out 200ms;
}

.nav .nav__bar {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 80%;
  min-width: 200px;
  background-color: #d2d2d2;
  height: 100%;
  padding: 20px 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
  overflow-y: auto;
}

.nav .nav__close-icon {
  z-index: 2;
  color: #fff;
  height: 6rem;
  width: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 5rem;
  position: absolute;
  top: 0;
  right: 0;
}

.nav-open .nav {
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: translate 0ms ease-in-out 0ms, background-color ease-out 350ms;
  transition: translate 0ms ease-in-out 0ms, background-color ease-out 350ms;
}

.nav-open .nav .nav__bar {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 350ms ease-in-out;
  transition: -webkit-transform 350ms ease-in-out;
  transition: transform 350ms ease-in-out;
  transition: transform 350ms ease-in-out, -webkit-transform 350ms ease-in-out;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

li:first-of-type {
  background: red;
}

li:nth-of-type(2) {
  background: green;
  -webkit-transform-origin: top;
          transform-origin: top;
  height: 0;
  -webkit-transition: height 500ms;
  transition: height 500ms;
}

li:nth-of-type(3) {
  background: blue;
}

.li-open li:nth-of-type(2) {
  background: green;
  height: 220px;
}
/*# sourceMappingURL=style.css.map */