html, 
body {
  height :100%;
  width: 100%;
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

ul {
  padding: 50px auto;
}

li {
  margin: 50px auto;
}

.content {
  height :100%;
  background-color: red;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);

  transform: translateX(-100%);
  transition: transform 0ms ease-in-out 200ms, background-color 200ms;
  // transition-delay: 1000ms;


  .container {
    box-sizing: border-box;
    width: 80%;
    min-width: 350px;
    background-color: green;
    height: 100%;
    padding: 50px;
    transform: translateX(-100%);
    transition: transform 200ms ease-in-out;
    overflow-y: auto;
  }
  ul {
    
  }

}

.nav-open .nav {
  background-color: blue;
  transform: translateX(0);
  transition: translate 0ms ease-in-out 0ms, background-color 1000ms;
  // transition-delay: 0ms;
  .container {
    transform: translateX(0);
    transition: transform 1000ms ease-in-out;
  }
}